/* code here */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    height: 100%;
    font-family: 'Roboto', system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    height: 100%;
    width: auto;
    padding: 5px;
    display: grid;
    grid-template: 0.25fr 0.25fr 2fr 0.5fr / repeat(3, 1fr);
    z-index: -1;
}

.btnProject {
    grid-area: 2 / 1 / 3 / 2;
    place-self: center;
}

.btnProject,
.open-button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color:#ffffff;
    background-color: #19e5e6;
}

.btnProject:hover,
.open-button:hover {
    background-color: #ffffff;
    color: #19e5e6;
    border: 2px solid #00ffff;
}

.projContainer {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    grid-template-rows: 0.25fr 2fr;
    z-index: 2;
}

.projHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projHeader > p {
    font-size: 25px;
    font-weight: bold;
}

.projBody {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    gap: 25px;
    padding-left: 10px;
}

.projBlock {
    display: flex;
    gap: 25px;
}

.btnHome,
.projBlock button {
    padding: 10px 10px;
    border: 2px solid #00ffff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #19e5e6;
    background-color: #ffffff;
}

.btnHome:hover,
.btnTitle:hover,
.projDel:hover {
    background-color: #19e5e6;
    color: #ffffff;
}

.content,
.toDoContainer {
    grid-area: 3 / 1 / 5 / 4;
    display: grid;
    grid-template: 2fr 0.5fr / repeat(3, 1fr);
    z-index: 1;
}

.toDoContainer {
    grid-area: 1 / 1 / 3 / 4;
}

.placeToDos {
    grid-area: 1 / 2 / 3 / 4;
}

.container-forms {
    grid-area: 2 / 1 / 3 / 2;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    padding: 20px;
    border: 1px solid #19e5e6;
 }

 .modal-content {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

.form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #19e5e6;
    padding-bottom: 10px;
    border-bottom: 1px dotted #19e5e6;
}

input,
textarea {
    border: 1px solid #19e5e6;
    border-radius: 5px;
    padding: 6px;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid #19e5e6;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    border: 1px solid #19e5e6;
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
    line-height: 15px;
}

input[type="checkbox"]:checked {
    box-shadow: inset 0 0 0 20px #19e5e6;
    border: 0;
}

input[type="checkbox"]::before {
    font-size: 20px;
    content: '✓';
    color: #ffffff;
}

.modal::backdrop {
    background: linear-gradient(45deg, #00ffff, #ff0000);
    opacity: 0.9;
}

.button,
.close-button {
    padding: 5px 10px;
    border: 2px solid #00ffff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #19e5e6;
    background-color: #ffffff;
}

.button:hover,
.close-button:hover {
    background-color: #19e5e6;
    color: #ffffff;
}